/* .valid {
    border: 2px solid lightseagreen
}

.invalid {
    border: 2px solid lightcoral
} */

.card { 
    padding: 20px;
    margin: 20px
}

h1 { 
    color: coral
}

.task-desc {
    font-weight: 400;
    font-size: x-large;
    color: coral
}

.task-info {
    font-style: italic;
}